
/* ELEMENTS GENERAUX */
body, html {
  width: 100%;
  height: 100%;
  padding:0; margin:0;
}

body {
  font-size: 14px;
  font-family: 'Josefin Slab', serif;
  color:#333333;
  background-color:#F0F0F0;
}

h1 {
  padding:0; margin:0;
}
h2 {
  width:96%;
  margin:20px auto 20px auto;
  font-size:24px;
  color: #BC1627;
  text-align:center;
  background:url('../images/h2.jpg') top left repeat-x;
}
h2 span {
  margin:auto;
  padding-left:20px;
  padding-right:20px;
  background-color:#FFFFFF;
}
.gros {

  margin-bottom: 60px;

}

h3 {
  font-size:18px;
  font-weight:normal;
  padding:0; margin:0;
  text-align:center;
  color:#94bf20;
}

p {
  font: normal normal normal 16px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
}

img {
  border:0;
}

hr {
  display:block;
  width:45px;
  border:0;
  height:3px;
  color:#444444;
  background-color:#444444;
}

ul {}
ul li {
  font: normal normal normal 16px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
  font-size:16px;
  font-weight:bold;
}

.clear {
  clear:both;
}

.page {
  margin-top:30px;
}

.wrapper {
  display:block;
  position:relative;
  width:980px;
  margin:auto;
}
.page .wrapper {
  background-color:#FFFFFF;
}

.bloc {
  display:block;
  float:left;
  
}
.bloc2 {
  display:block;
 margin-left:50px;
 
}
.bloc3 {
  display:block;
  float:left;
}

.shadow {
  display:block; 
  width:980px;
  margin: 0 auto 20px auto; 
  height:26px; 
  background: url('../images/shadow.png') top left no-repeat;
}



/* MENU */
#menu {
  display:block;
  position: fixed;
  top:0px; left:0px; z-index:1000;
  background-color: #94bf20;
  width:100%;
  height:36px;
  border-top: 0px solid #7f7f7f;
  border-bottom: 4px solid #7f7f7f;
}

#menu a {
  float:left;
  display:block;
  font-size:18px;
  padding-top:12px;
  color: #FFFFFF;
  text-decoration:none;
  margin-right:40px;
}
#menu a:hover {
  color: #505050;
  text-decoration:none;
}



/* PAGE HOME */
#logo {
  display:block;
  margin:auto;
  width:298px;
  height:205px;
}

.h2sup {
  display:block;
  margin:auto;
  width:200px;
  font: normal normal normal 17px/1.4em 'josefin slab', serif;
  color:#83ad12;
  font-weight:bold;
  text-align:center;
}


/* PAGE IDENTITES VISUELLES */
#conteneur-galeries {
  display:block;
  width:900px;
  margin:auto;
 
}
.galerie-popup {
  display:block;
  float:left;
  margin:10px;
  box-shadow:0px 0px 10px #000000;
  background-color:#F00;
  
}
#projet1 { width:200px; height:455px; }
#projet1 img { width:200px; height:455px; }

#projet2 { width:200px; height:200px; }
#projet2 img { width:200px; height:200px; }

#projet3 { width:400px; height:200px; }
#projet3 img { width:400px; height:200px; }

#projet4 { width:200px; height:200px; }
#projet4 img { width:200px; height:200px; }
#projet4 { margin-top: 45px;}


#projet5 { width:200px; height:235px; }
#projet5 img { width:200px; height:235px; }

#projet6 { width:180px; height:110px; }
#projet6 img { width:180px; height:110px; }

#projet7 { width:180px; height:105px; }
#projet7 img { width:180px; height:105px; }






/* PAGE ILLUSTRATIONS : SLIDER JAVASCRIPT (à modifier avec precaution) */
.zoom {
  text-decoration:underline;
  color:#94bf20;
}

/* PAGE CONTACT */
#page_contact {
  background-color:#94bf20;
  border-top:solid 3px #505050;
}
.content_contact {
  display:block;
}
.content_contact h2 {
  color:#FFF;
  background:none;
}
.content_contact .wrapper {
  background:none;
}
.mail_link {
  text-decoration:none;
  color:#333;
}

#coordonnees {
   font-family: 'Josefin Slab', serif;
   text-align:center;
   font-size: 20px;
   color: white; 
}

.blanc {
  background-color: #FFFFFF;
  margin-left : 15px;
  margin-right : 15px;
  margin bottom: 0px;
  padding-bottom: 0px;
}

.logopart {
  float : left;
  margin-right: 20px;
 
}

#speech {
  float:left;
}

