body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
/*** NAV ***/

.navbar-fixed-top {
    border: 0;
}

.navbar-default {
    background: transparent;
}

.navbar-brand {
    float: none;
}

.navbar-collapse.collapse {
    width: 149px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: underline;
    color: #FFF;
    margin-bottom: 1px;
    background: none;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */




@media (max-width: 768px) {
    img#logo {
        display: none;
    }
    .navbar-collapse.collapse {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
    }
}

a {
    color: #FFF;
}

.thumbnail {
    display: block;
    margin: 0;
    padding: 0;
    border: inherit;
    border-radius: inherit;
    line-height: inherit;
    transition: inherit;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}



#about-title,
#contact-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
}

.about_sentence {
    font-size: 18px;
}

#section-contact {
    background: #94bf20;
    min-height: 443px;
}

#section-contact h1 {
    color: #FFF;
}

#section-contact input {
    margin-bottom: 35px;
    height: 35px;
    width: 182px;
    border: none;
}

#section-contact p {
    color: #FFF;
}

#section-contact textarea {
    width: 100%;
}

#block1 p {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#block4 p {
    position: absolute;
    top: 313px;
    left: 0;
    visibility: hidden;
}

.img-responsive:hover p {
    color: #FFF;
    font-size: 14px;
    opacity: 0.9;
    visibility: visible;
    background: #414042;
    padding: 97px 24px;
    width: 100%;
    cursor: pointer;
}
 .row-separate {
    margin-top: 173px;
}
#section-contact .row {
    margin-top: 20px;
}

 /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .row.row-separate {
            margin-top: 20px;
        }
    }

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        background-color: #414042;
        border-right: 1px solid #414042;
        width: 170px;
    }
    .img-responsive {
        width: 100%;
    }
    .navbar-default {
        width: 170px;
    }
   
}