body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: #FFF;
}

.offset-0 {
    padding-left: 0;
    padding-right: 0;
}


/*** NAV ***/

.navbar-fixed-top {
    border: 0;
}

.navbar-default {
    background: transparent;
}

.navbar-brand {
    float: none;
}

.navbar-collapse.collapse {
    width: 149px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: underline;
    color: #FFF;
    margin-bottom: 1px;
    background: none;
}

.img-responsive {
    width: 100%;
   
}

#about-title,
#contact-title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;
}

.about_sentence {
    font-size: 18px;
    text-align: center;
}

#section-contact {
    background: #94bf20;
    min-height: 443px;
}

#section-contact h1 {
    color: #FFF;
}

#section-contact input {
    margin-bottom: 35px;
    height: 35px;
    width: 182px;
    border: none;
}

#section-contact p {
    color: #FFF;
}

#section-contact textarea {
    width: 100%;
}

#section-contact button {
    border: none;
    background: transparent;
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

#section-contact #icon-place {
    margin: 15px auto;
    display: block;
}

#section-contact #icon-phone {
    display: block;
    margin: -10px auto 0;
}

#section-contact #icon-send {
    display: block;
    margin: -10px auto;
}

#block1 p {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

#block4 p {
    position: absolute;
    top: 313px;
    left: 0;
    visibility: hidden;
}

.row-separate {
    margin-top: 173px;
}

#section-contact .row {
    margin-top: 20px;
}

#section-contact p {
    text-align: center;
}

.img-responsive:hover {
    background: rgba(0, 0, 0, 0.5);
}


/*** RESPONSIVE ***/

@media (min-width: 768px) {
    .sidebar {
        /*position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        /*overflow-x: hidden;
        background-color: #414042;
        border-right: 1px solid #414042;
        width: 170px;*/
    }
    .navbar-default {
        width: inherit;
        background-color: #414042;
        border-right: 1px solid #414042;
        height: 100%;
    }
   
   
}

@media (max-width: 767px) {
    img#logo {
        display: none;
    }
    #logo_tumblr {
        display: none;
    }
    .navbar-collapse.collapse {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
    }
     .img-responsive {
        height: auto;
    }
}
@media (min-width: 992px){
     #block1:hover p {
        color: #FFF;
        font-size: 14px;
        opacity: 0.9;
        visibility: visible;
        background: #414042;
        padding: 64px 24px;
        width: 100%;
        cursor: pointer;
        height: 33.33%;
    }
}

#logo_tumblr {
    position: absolute;
    bottom: 20px;
    left: 37%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #414042;
    background: #FFF;
    padding: 6px;
    text-align: center;
}